@import "../sass//abstracts/mixins";

.container {
	background-position: center;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-family: "Roboto", sans-serif;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background-color: var(--main-bg-color);
		width: 100%;
		opacity: 0.8;
	}

	.card {
		z-index: 999;
		margin: 4rem 2rem;
		display: grid;
		grid-template-columns: auto min-content;
		gap: 20px 25px;

		@include respond(phone) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		@include respond(tab-port) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.imagecontainer {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			.image {
				border-radius: 10px;
				justify-self: center;
			}
		}

		.information {
			display: flex;
			flex-direction: column;
			> div {
				color: white;
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: 1fr 1fr;
				gap: 0px 0px;
				grid-template-areas:
					"."
					".";

				h2 {
					margin: 0;
				}
				h3 {
					display: inline-block;
					margin: 0.5rem 0 1rem 0;
					font-family: "Arimo";
					font-style: italic;
					font-size: larger;
					@include respond(phone) {
						margin: 0.2rem 0 0.5rem 0;
						font-size: large;
					}
				}

				.additionalinfo {
					display: flex;
					align-items: center;
					color: var(--text-highlighted);
					margin-bottom: 5re;

					@include respond(phone) {
						margin: 0.2rem 0 0.5rem 0;
						font-size: 0.8rem;
					}
				}

				p {
					margin-bottom: 2.5rem;
					@include respond(phone) {
						font-size: 0.7rem;
					}

					@include respond(tab-port) {
						font-size: 0.9rem;
					}
				}
			}
			.trailer {
				iframe {
					width: 600px;
					height: 420px;
				}
				@include respond(card-hack) {
					iframe {
						width: 420px;
						height: 270px;
					}
				}
				@include respond(phone) {
					iframe {
						height: 100%;
						width: 100%;
					}
				}
			}
		}
	}
}
