@import "../sass/abstracts/mixins";

.container {
	width: 100%;
	background-color: var(--main-bg-color);
	display: flex;
	align-items: center;

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Arimo", sans-serif;
		margin: 0 1rem;
		flex: 0 1rem;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			color: var(--text-main);

			h1 {
				font-weight: 900;
			}
		}
	}

	.links {
		display: flex;
		align-items: center;
		font-family: "Roboto", sans-serif;
		font-size: 1rem;
		font-weight: 300;
		flex: 1;
		text-transform: uppercase;

		a {
			margin: 0 1rem;
		}

		.default {
			text-decoration: none;
			color: var(--text-main);
		}

		.active {
			color: var(--text-highlighted);
		}
	}

	.search {
		margin: 0 1rem;
		.styledinput {
			border-radius: 15px;
			outline: none;
			border: 2px solid var(--tertiary-bg-color);
			background: var(--secondary-bg-color);
			font-size: 1rem;
			height: 2rem;
			color: white;
			font-family: "Roboto", sans-serif;
			padding: 0 0 0 1rem;
		}
	}
}

@include respond(phone) {
	.container {
		flex-direction: column;
		.links {
			.default {
				margin: 1rem;
			}
		}

		.search {
			margin: 1rem;
		}
	}
}

@include respond(nav-hack) {
	.container {
		flex-direction: column;
		.links {
			.default {
				margin: 0.5rem;
			}
		}

		.search {
			margin: 1rem;
			.styledinput {
				height: 1.5rem;
			}
		}
	}
}
