.container {
    height: 100vh;
    background-color: lightgray;

    .profile {
        padding: 1rem;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            object-fit: cover;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .list-item {
                font-size: 2.5rem;
                font-weight: 600;
                font-family: Roboto;
                text-align: center;
                margin: 1rem auto;
            }
        }

        .likes {
            display: flex;
            flex-direction: column;
            width: 100%;
            li {
            }
        }
    }
}
