.container {
  height: 100vh;
  font-family: Roboto;

  .profile {
    padding-top: 1rem;

    .user {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        border-radius: 50%;
        margin: 1rem;
        object-fit: cover;
      }

      .user-data {
        color: white;
      }
    }

    .watchlist {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      h1 {
          margin-left: 1rem;
          color: #fff;
      }
      .likes {       
        display: block;
        margin-left: 1rem;
      }
    }
  }
}
