.container {
	background-color: var(--main-bg-color);
	padding: 1rem;
	font-family: "Roboto", sans-serif;
	max-width: 1700px;

	header {
		h2 {
			margin: 0rem;
			font-family: "Roboto", sans-serif;
			color: #fff;
		}
	}

	.results {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		gap: 16px 16px;
		grid-auto-flow: row;
		grid-template-areas:
			". . . . ."
			". . . . ."
			". . . . ."
			". . . . .";
	}
}
